@{
    ViewBag.Title = "About People Toolbox";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>People Toolbox is an application created by three students at Miami University. The goal of the project is to allow companies to manage their employees in a way that is both productive and
    efficient. The Toolbox stores information regarding individual employee performance and skillsets. With this information, employees will be able to view updates to their profiles on how
    their managers believe they are performing and will be able to improve on anything that their managers see as areas of improvement. On top of this, employees are able to see their skills
    and update their profile pictures/personal information.</p>
