@{
    ViewBag.Title = "About People Toolbox";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>People Toolbox is an application created by three students at Miami University. The goal of the project is to allow companies to manage their employees in a way that is both productive and
    efficient. The Toolbox stores information regarding individual employee performance and skillsets. With this information, employees will be able to view updates to their profiles on how
    their managers believe they are performing and will be able to improve on anything that their managers see as areas of improvement. On top of this, employees are able to see their skills
    and update their profile pictures/personal information.
</p>

<div class="row">
    <div class="col-md-4">
        <img src="~/pictures/schipper_profile_pic.jpg" class="img-rounded" height="200px" />
        <h2>Chris Schipper</h2>
        <p>
            Chris Schipper is a Computer Science major at Miami University.
        </p>
        <p><a class="btn btn-default" href="https://www.linkedin.com/in/christopher-schipper-44666796">Check out my LinkedIn! &raquo;</a></p>
    </div>

    <div class="col-md-4">
        <img src="~/pictures/shaver_profile_pic.jpg" class="img-rounded" height="200px" />
        <h2>John Shaver</h2>
        <p>
            John Shaver is a Computer Science, Computer Engineering, and Electrical Engineering triple major at Miami University with some minors that I do not remember.
        </p>
        <p><a class="btn btn-default" href="https://www.linkedin.com/profile/view?id=AAkAABN5BRcBnA9-ZC20ZcUHr1svTotCQ1yjiMg&authType=NAME_SEARCH&authToken=60iL&locale=en_US&trk=tyah&trkInfo=clickedVertical%3Amynetwork%2CclickedEntityId%3A326698263%2CauthType%3ANAME_SEARCH%2Cidx%3A1-1-1%2CtarId%3A1447388854248%2Ctas%3AJohn">Check out my LinkedIn! &raquo;</a></p>
    </div>

    <div class="col-md-4">
        <img src="~/pictures/jones_profile_pic.jpg" class="img-rounded" height="200px"/>
        <h2>Nathan Jones</h2>
        <p>
            Nathan Jones is a Computer Engineering major with a Computer Science minor at Miami University.
        </p>
        <p><a class="btn btn-default" href="https://www.linkedin.com/profile/view?id=AAkAABIDcQgBwbVOj-uZMjsrRsUGqCP7G-0gEaU&authType=NAME_SEARCH&authToken=WwRT&locale=en_US&trk=tyah&trkInfo=clickedVertical%3Amynetwork%2CclickedEntityId%3A302215432%2CauthType%3ANAME_SEARCH%2Cidx%3A1-2-2%2CtarId%3A1447386907752%2Ctas%3Anatha">Check out my LinkedIn! &raquo;</a></p>
    </div>
</div>
