@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>People Toolbox</h1>
    <p class="lead">The People Toolbox is a tool for companies to use so that they can view extensive information about their employees.</p>
    <p><a href="/Home/Toolbox" class=" btn btn-primary btn-lg">Access the Toolbox &raquo; </a></p>
</div>

<div class="row">
    <div class="col-md-6">
        <h2>Your Workbench</h2>
        <p>
            Your Workbench is a place where you can access information regarding yourself. This can be anything from your skills and personal information to your weaknesses and areas that your employer would like you to improve on.
        </p>
        <p><a class="btn btn-default" href="/Home/Workbench">Get to work &raquo;</a></p>
    </div>
    
    <div class="col-md-6">
        <h2>Manage your own Toolbox</h2>
        <p>Are you running a business and need a Toolbox to manage your employees? Click here to learn more!</p>
        <p><a class="btn btn-default" href="/Home/About">Learn more &raquo;</a></p>
    </div>
</div>